<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Banca Movil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
        <ion-item>
            <ion-label>        </ion-label>
        </ion-item>
      <div class="horizontal">
          <div class="vertical">
              <img src="../../../assets/bank.png" />   
          </div>
              
      </div>
    
  <ion-list>

 

      <ion-item>
          <ion-label position="stacked">
              <ion-icon name="mail-outline" item-start></ion-icon>
          </ion-label>
          <ion-input autocomplete="off" placeholder="Correo Electronico" type="text"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="stacked">
              <ion-icon name="lock-closed-outline"></ion-icon>
          </ion-label>
          <ion-input autocomplete="off" type="password" placeholder="Contraseña"></ion-input>
      </ion-item>

      <ion-button expand="block" share="round" >Iniciar Sesion</ion-button>
  </ion-list>
 



</ion-content>